{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Login{% endblock %}

{% block main_content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path('dwes_check_login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
        <label for="password">Password: </label>
        <input type="password" id="password" name="_password">
        <button type="submit">login</button>
    </form>
{% endblock %}

