{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Contactos {% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    {% set classImg = 'card-img-top' %}
                    {% include 'Contacto/parts/imagen-contacto.part.html.twig' with {
                        'contacto': contacto,
                        'classImg': classImg
                    } only %}
                    <div class="card-body">
                        <h5 class="card-title">{{ contacto.nombre }}</h5>
                        <p class="card-text">{{ contacto.telefono }}</p>
                        <a href="{{ path('dwes_contactos') }}" class="btn btn-primary">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
