{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Contactos - Nuevo {% endblock %}

{% block main_content %}
    <div class="container">

        {% if error is defined and error is not empty %}
            <div class="row">
                <div class="alert alert-danger col-12">
                    {{ error }}
                </div>
            </div>
        {% endif %}

        {{ form_start(form) }}

        <div class="row">
            <div class="col-6">

                {{ form_label(form.nombre, null, {'label_attr': {'class': 'label-field'}}) }}
                {{ form_widget(form.nombre, {'attr': {'class': 'text-field'}}) }}

            </div>
            <div class="col-6">
                {{ form_label(form.telefono, null, {'label_attr': {'class': 'label-field'}}) }}
                {{ form_widget(form.telefono, {'attr': {'class': 'text-field'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ form_label(form.ciudad, null, {'label_attr': {'class': 'label-field'}}) }}
                {{ form_widget(form.ciudad, {'attr': {'class': 'text-field'}}) }}
            </div>

        </div>

        <div class="row">

            <div class="col-12">
                {{ form_label(form.fotoFile, null, {'label_attr': {'class': 'label-field'}}) }}
                {{ form_widget(form.fotoFile) }}
            </div>

        </div>

        <div class="row">
            <div class="col-2 offset-5">
                {{ form_row(form.guardar) }}
            </div>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}
