{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Contactos {% endblock %}

{% block main_content %}
    <a href="{{ path("dwes_nuevo_contacto") }}" class="btn btn-primary">Nuevo <i class="fa fa-plus-circle"> </i></a>
    <form class="form-inline mt-2 mt-md-0" method="post" action="{{ path("dwes_contactos") }}">
        <input class="form-control mr-sm-2" name="busqueda" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    {% for message in app.flashes('error-eliminar') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Operaciones</th>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Foto</th>
        </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <th scope="row">
                    <a href="{{ path("dwes_ver_detalle_contacto", {id: contacto.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path("dwes_eliminar_contacto", {id: contacto.id}) }}" class="btn btn-primary"><i class="fa fa-trash"></i></a>
                    <a href="{{ path("dwes_editar_contacto", {id: contacto.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                </th>
                <th>{{ contacto.id }}</th>
                <td>{{ contacto.nombre | capitalize }}</td>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.ciudad.id ~ " " ~ contacto.ciudad.nombre }}</td>
                <td>
                    {% set classImg = 'img-thumbnail' %}
                    {%  include 'Contacto/parts/imagen-contacto.part.html.twig' with {
                        'contacto': contacto,
                        'classImg': classImg
                    } only %}
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>
{% endblock %}
