{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Inicio{% endblock %}

{% block stylesheets %}{% endblock %}

{% block main_content %}
    <ul>
    {% set fin = number + 1000 %}
    {% for i in 1000..fin %}

        {% set myLoop = loop %}
        {% include 'parts/opcion-lista.part.html.twig' with { 'myLoop': myLoop, 'i': i } only %}

    {% endfor %}
    </ul>
{% endblock %}
