{% extends 'base.html.twig' %}

{% block title %}DWES / {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}" type="text/css">
{% endblock %}

{% block body %}
    <header>
        <h1><img width="50" src="{{ asset('imgs/covid2.jpg') }}" alt="COVID">Proyecto Symfony</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ path('dwes_inicio') }}">Inicio</a></li>
            <li><a href="{{ path('dwes_contactos') }}">Contactos</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('dwes_logout') }}">Salir - {{ app.user.nick }}</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block main_content %}{% endblock %}
    </main>
    <footer><small>Página creada en DWES &copy;</small></footer>
{% endblock %}
