{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Error 404{% endblock %}

{% block main_content %}

    <h2>Error {{ status_code }}: AH!!! Se siente!! No se ha encontrado la página</h2>

{% endblock %}
