<img
        width="100"
        src="{% if contacto.foto is empty %}/imgs/covid2.jpg{% else %}{{ asset('uploads/fotos/' ~ contacto.foto) }}{%  endif %}"
        class="{{ classImg }}"
        alt="{{ contacto.nombre }}"
>